<div class="container">
<h3>Coupons</h3>
<table class='table'>
<%=location.loc%>
	<td><a href="/location/show/<%=location.id%>"class="btn btn-default">show</a></td>
	<td><a href="/location/edit/<%=location.id%>"class="btn btn-default">edit</a></td>
	<td><a href="/location/destroy/<%=location.id%>"class="btn btn-default">destroy</a></td>
</tr>

</table>
</div>