

<div class="row" ng-controller="all_checkins">
  <div class="col-lg-8 col-sm-12 col-lg-offset-2 whitebox" ng-show="visibility">
    <h2 class="box-title">VISITS SO FAR</h2>
    <div class="table-responsive" ng-show="showData">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>USERNAME</th>
            <th>TIME</th>
            <th>OFFER</th>
            <th>OFFER-LEVEL</th>
            <th>RATING</th>
            <th>REMARKS</th>
            <th>BILL</th>
          </tr>
        </thead>

        <tbody >
          <tr ng-repeat="checkin in checkins">
            <td>{{ checkin.user.profile.name }}</td>
            <td>{{ checkin.date_created | humanize_date }}</td>
            <td>{{ checkin.offer.caption }}</td>
            <td>{{ checkin.offer.stamps }}</td>
            <td>{{ checkin.review.stars }}</td>
            <td>{{ checkin.review.remarks }}</td>
            <td><a href="javascript:void(0)" class="btn btn-primary" ng-click="createBill( checkin )">MAKE BILL</a></td>
          </tr>
        </tbody>

      </table>
    </div>
    <div class="spinner"ng-show="spinner">
      <img src="loader.gif" class="spinner-img">
    </div>
  </div>
</div>
