<div class="row" ng-controller="current_checkins">
  <div class="col-lg-8 col-sm-12 col-lg-offset-2 whitebox" ng-show="visibility">
    <h2 class="box-title">STAMPBOARD</h2>
    <div class="table-responsive" ng-show="showData">
      <table class="table table-bordered table-hover" id="curr_checkins">
        <thead>
          <tr>
            <th>USERNAME</th>
            <th>PIN</th>
            <th>TIME</th>
            <th>OFFER</th>
            <th>VISIT NO</th>
            <th>EXPIRES</th>
            <th>STAMPS</th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="checkin in checkins">
                <td>{{ checkin.user.profile.name }}</td>
                <td>{{ checkin.pin }}</td>
                <td>{{ getTimeInFormat(checkin.date_created || humanize_date) }}</td>
                <td>{{ checkin.offer.caption }}</td>
                <td>{{ checkin.offer.stamps }}</td>
                <td data-time="{{ checkin.date_created }}" class="timer"></td>
                <td>
                <input type="number" class="form-control" id="stamps" ng-model="checkin.validate_data.stamps"></td>
                <td><a href="javascript:void(0)" ng-click="invokeTypeRequirement( checkin )" class="btn btn-primary">VALIDATE</a></td>
            </tr>
        </tbody>
      </table>
    </div>

    <div class="spinner"ng-show="spinner">
      <img src="https://s3-ap-southeast-1.amazonaws.com/clozerr/website/main/imgs/loader.gif" class="spinner-img">
    </div>

  </div>
</div>
