<style>
#notVisitedDaysCount {
	background-color: transparent;
}
#DIVnotVisitedDaysCount {
	margin-top:-4%;
}
</style>

<div ng-controller="enableSxCtrl" class="col-md-12">
	<div class="flip">			
		<div class="card" ng-class="{'flipped':flipped}">
			<div class="face front">
				<div class="panel panel-green">
					<div class="panel-green">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-8 text-left">
									<div>
										<big>Multiple Stamped Offers</big>
									</div>
								</div>
								<div class="col-xs-4">
									<i class="fa fa-cloud-download fa-5x"></i> 
								</div>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<div class="panel-front-text">
							<div class="panel-options">											
								Give your customers more stamps based on their bill<br>
							</div>	
							<br><br>
							<center>
								<label>
									<input type="checkbox" id="sxEnabled" ng-model="miscellaneous.sxEnabled"/>
								</label>
							</center>
						</div>
					</div>
				</div>
			</div>
			<div class="face back">
				<div class="row">
					<div class="panel panel-green">
						<div class="panel-green">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-8 text-left">
										<div>
											<big>&nbsp&nbspMultiple Stamped Offers</big>
										</div>
									</div>
									<div class="col-xs-4">
										<i class="fa fa-cloud-download fa-5x"></i> 
									</div>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<div class="panel-front-text">							
										<div class="row" style="text-align:left;">
											<div class="col-xs-1">
											</div>
											<div class="radio col-xs-10">
												<!-- <label>
													<input type="checkbox" id="notifyExact">&nbsp&nbsp&nbsp&nbspNotify user on exact date</input>
												</label> -->
												Value of one stamp :
												<div class="pull-right" id="stampValue">
													<input type="number" class="form-control" id="stampValue" ng-model="miscellaneous.billAmt" min="0" step="1" 
													/>
												</div>
											</div>
										</div><br>
										<div class="row">
											<div class="col-md-4">
											</div>
											<div class="col-md-2">
												<a href="javascript:void(0)" class="restore-color-green">
													<button type="button" class="btn btn-success" id="saveSxSettingsPref" ng-click="flipped=!flipped;saveSxSPref();"><i class="fa fa-floppy-o fa-1x">&nbsp&nbspSAVE</i></button>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>