<style>
#notVisitedDaysCount {
	background-color: transparent;
}
#DIVnotVisitedDaysCount {
	margin-top:-4%;
}
</style>

<div ng-controller="visitReminderCtrl" class="col-md-12">
	<div class="flip">			
		<div class="card" ng-class="{'flipped':flipped}">
			<div class="face front">
				<div class="panel panel-yellow">
					<div class="panel-yellow">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-8 text-left">
									<div>
										<big>Visit reminder</big>
									</div>
								</div>
								<div class="col-xs-4">
									<i class="fa fa-cloud-download fa-5x"></i> 
								</div>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<div class="panel-front-text">
							<div class="panel-options">											
								Bring your customers back with a tempting offer<br>
							</div>	
							<br><br>
							<center>
								<label>
									<input type="checkbox" id="enableVisitreminderPref" ng-model="vp.activated"/>
								</label>
							</center>
						</div>
					</div>
				</div>
			</div>
			<div class="face back">
				<div class="row">
					<div class="panel panel-yellow">
						<div class="panel-yellow">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-8 text-left">
										<div>
											<big>&nbsp&nbspVisit reminder</big>
										</div>
									</div>
									<div class="col-xs-4">
										<i class="fa fa-cloud-download fa-5x"></i> 
									</div>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<div class="panel-front-text">
								<div class="panel-options">											
									<div class="col-xs-12">
										<input type="textarea" id="temptingOffer" ng-model="vp.visitMessage" rows="5" class="form-control" placeholder="Enter your offer..">
									</div><br><br>
											<!-- <div class="row">
												<div class="radio col-xs-12">
													<label>
														<input type="checkbox" id="notify1st">&nbsp&nbsp&nbsp&nbspNotify user on first of month</input>
													</label>
												</div>
											</div> -->
										</div>								
										<div class="row" style="text-align:left;">
											<div class="col-xs-1">
											</div>
											<div class="radio col-xs-10">
												<!-- <label>
													<input type="checkbox" id="notifyExact">&nbsp&nbsp&nbsp&nbspNotify user on exact date</input>
												</label> -->
												Send this message to customers <br>who haven't visited in :
												<div class="pull-right" id="DIVnotVisitedDaysCount">
													<input type="number" class="form-control" id="notVisitedDaysCount" ng-model="vp.days" min="0" max="100" step="1" value="7"
													/>
												</div>
											</div>
										</div><br>
										<div class="row">
											<div class="col-md-4">
											</div>
											<div class="col-md-2">
												<a href="javascript:void(0)" class="restore-color-yellow">
													<button type="button" class="btn btn-warning" id="saveVisitReminderPref" ng-click="flipped=!flipped;saveVisitReminderPref();"><i class="fa fa-floppy-o fa-1x">&nbsp&nbspSAVE</i></button>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>