<div class='container'>
	<h2>Shop id: <%= shop.id%></h2>
	<h2>Shop name : <%= shop.name%></h2>
	<h2>Tags: <%= shop.tags%></h2>
	
<hr>
<a class="btn btn-default"href="/shop/edit/<%=shop.id%>">edit</a></td>

</div>