<h1 align="center"><span class="label label-default">HomePage</span></h1>
 <div id="canvas_container"></div>
<script>
window.onload = function() {
    var paper = new Raphael(document.getElementById('canvas_container'), 500, 500);
    var circle = paper.circle(100, 100, 80);
    circle.animate({transform:'t100,0'},2000);
}
</script>