<div class="container">
      <h2>Form</h2>
      <form role="form" action="create" method="POST">
        <div class="form-group">
          <label for="Coupon no">Coupon no:</label>
          <input type="text" class="form-control" name="coupon" placeholder="Enter Coupon no">
        </div>
        <div class="form-group">
          <label for="Shop">Shop name:</label>
          <input type="text" class="form-control" name="shop" placeholder="Enter shop name">
        </div>
         <div class="form-group">
          <label for="offer">Offer tag:</label>
          <input type="text" class="form-control" name="offer" placeholder="Enter Offer">
        </div>
         <div class="form-group">
          <label for="expiry">expiry date:</label>
          <input type="text" class="form-control" name="expiry" placeholder="Enter expiry date">
        </div>
        <div class="form-group">
          <label for="visitcount">Visit count:</label>
          <input type="text" class="form-control" name="visitcount" placeholder="Enter Visit count">
        </div>
        <input type="hidden" name="_csrf" value="<%=_csrf%>"/>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
