<div class="container">
      <h2>Form</h2>
      <form role="form" action="create" method="POST">
        <div class="form-group">
          <label for="Coupon name">Coupon name:</label>
          <input type="text" class="form-control" name="name" placeholder="Enter Coupon name">
        </div>
        <div class="form-group">
          <label for="Offer">Offer:</label>
          <input type="text" class="form-control" name="offer" placeholder="Enter offer">
        </div>
         <div class="form-group">
          <label for="prereq">prereq:</label>
          <input type="text" class="form-control" name="prereq" placeholder="Enter prereq">
        </div>
         <div class="form-group">
          <label for="v_id">Vendor id:</label>
          <input type="text" class="form-control" name="v_id" placeholder="Enter Vendor_id">
        </div>
         <div class="form-group">
          <label for="expiry">expiry date:</label>
          <input type="text" class="form-control" name="expiry" placeholder="Enter expiry date">
        </div>
        <div class="form-group">
          <label for="visitcount">Visit count:</label>
          <input type="text" class="form-control" name="visitcount" placeholder="Enter Visit count">
        </div>

        <input type="hidden" name="_csrf" value="<%=_csrf%>"/>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
